@media (max-width: 960px){
    .header__menu-btn{
    display: block;
    }
    .header__menu ul{
    display: none;
    position: absolute;
    z-index: 1;
    top: 78px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 5px solid #e8603c;
    border-top: 5px solid #e8603c;    
    }
    .header__menu li{
        display: block;
        text-align: center;
        padding: 12px 0 12px 0; 
        border-bottom: 1px solid#f2ae9c;
            }
    .header__menu li + li{
        margin: 0;              
    }
    
    .header__menu li a{
        display: block;
        }
        .header__menu-list{
            font-family: HelveticaNeue;
            color: #414141;
            letter-spacing: normal;
        }
        .items__inner{
            flex-wrap: wrap;
        }
        .item{
            width: 50%;
            margin-bottom: 20px;
            padding-right: 15px;
        }
        .footer__inner{
            padding-left: 15px;
        }
}
@media (max-width: 900px){
     .work__1{       
        padding-left: 15px;
    } 
    .works__content{
        flex-wrap: wrap;
    }
    .slider__inner{
        height: auto;
        max-width: 100%;
    }
    img.big {
        max-width: 100%;   
             
    }
    .footer__inner{
        flex-wrap: wrap;       
    }
}
@media (max-width: 725px){
    .work__1{
        padding-left: 0;
        margin-bottom: 15px;
    }  
}
@media (max-width: 615px){
    .footer__item{
        padding-right: 15px;
        margin-top: 15px;
    }
}
@media (max-width: 530px){
    .item{
        padding-left: 0;
        width: 100%;
    }
}
@media (max-width: 460px){
    .works__content{        
        justify-content: center;
    }
}




@media (min-width: 960px){
    .header__menu > ul{
    display: block !important;